:root {
	--preview-title-bg: #ff98d9;
	--preview-title-text: #000;
	--preview-hidden-bg: #ddd;
	--preview-hidden-text: #000;
	--preview-highlight: #0af;
	--preview-loaded: #ff0;
	--preview-loaded-text: #000;
	--bg-color: #222;
	--text-color: #ddd;
	--radio-checked: #00ff77;
	--msg-info-bg: #d9ffd6;
	--msg-info-color: #000;
	--msg-warning-bg: #ff0;
	--msg-warning-color: #000;
	--msg-error-bg: #ab0000;
	--msg-error-color: #fff;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Courier New', Courier, monospace;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#root {
	width: min(100%, 1000px);
	height: 100%;
	max-height: 100%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.nav {
	.nav-item {
		.nav-link {
			font-weight: bold;
			color: var(--text-color);
			border: 1px solid var(--text-color);
			border-collapse: collapse;
			border-radius: 5px 5px 0 0;
		}
		.nav-link.active {
			background-color: var(--text-color);
			color: var(--bg-color);
		}
		.nav-link:not(.active):hover {
			color: blue;
		}
	}
}

.tab-inner {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-height: 100%;
}
.tab-content {
	flex: 1;
	max-height: 100%;
	overflow-y: auto;
	.tab-pane {
		max-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		.form-top {
			position: sticky;
			top: 0px;
			z-index: 2;
			background-color: var(--bg-color);
			border-bottom: 1px solid var(--text-color);
			margin-bottom: 1em;
		}
	}
	.tab-pane:not(.show) {
		display: none;
	}
}

.input-label {
	font-weight: bold;
}
.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: start;
	margin-bottom: 1.25em;

	input,
	select {
		height: 1.5em;
		width: 100%;
		font-weight: bold;
		option {
			background-color: var(--text-color);
			color: var(--bg-color);
			font-weight: bold;
		}
	}
	input,
	select,
	textarea {
		font-size: 1.2em;
		padding: 0.2em;
	}
	input,
	select {
		height: 2.5em;
	}
	.text-preview {
		width: 100%;
		max-width: 100%;
		text-wrap: wrap;
		max-height: 50vh;
		overflow-y: auto;
	}

	#join-code {
		text-transform: uppercase;
	}
}

.f-1 {
	flex: 1;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	border: 1px solid var(--text-color);
	border-collapse: collapse;
	padding: 0.2em 1em;
}
input[type='radio']:disabled + label {
	color: #666;
	text-decoration: line-through;
}

input[type='radio']:checked + label {
	background-color: var(--radio-checked);
	color: var(--bg-color);
}

input[type='file'] {
	display: none;
}

#create-game-form {
	.title-preview {
		border-bottom: none !important;
		.preview-word.hidden {
			background-color: var(--preview-hidden-bg);
			color: var(--preview-hidden-text);
		}
	}
	.text-preview {
		text-align: left;
		padding-bottom: 1em;
		border-bottom: 1px solid var(--text-color);
		overflow-x: hidden;
		.preview-word {
			border: 1px solid var(--bg-color);
		}

		.preview-word.hideable {
			cursor: pointer;
		}

		.preview-word.title {
			background-color: var(--preview-title-bg);
			color: var(--preview-title-text);
		}

		.preview-word.hidden {
			background-color: var(--preview-hidden-bg);
			color: var(--preview-hidden-text);
		}
		.preview-word.highlighted {
			background-color: var(--preview-highlight);
		}
		.preview-word.loaded-word {
			background-color: var(--preview-loaded);
			color: var(--preview-loaded-text);
		}

		.sub {
			vertical-align: sub;
			font-size: 0.8rem;
		}

		.super {
			vertical-align: super;
			font-size: 0.8rem;
		}

		.italic {
			font-style: italic;
		}

		.bold {
			font-weight: bold;
		}
	}
	.word-list,
	.group-list {
		display: flex;
		flex-direction: column;
		max-height: 45vh;
		overflow-y: auto;
		padding: 0.25em;
		.label-check-box {
			width: 100%;
			input[type='checkbox'] {
				display: none;
			}
			label {
				width: 100%;
				cursor: pointer;
				text-align: left;
			}
			input[type='checkbox']:checked + label {
				font-weight: bold;
				background-color: var(--radio-checked);
				color: var(--bg-color);
				width: 100%;
			}
		}
	}
	.word-list {
		border: 1px solid var(--text-color);
	}
	.button-panel {
		button {
			margin: auto;
		}
		display: flex;
		flex-direction: column;
	}
	.word-container,
	.group-container,
	.group-list {
		max-height: 45vh;
		display: flex;
		overflow-y: auto;
	}

	.word-container,
	.word-list,
	.group-list {
		flex-direction: column;
	}
	.group-container {
		flex-direction: row;
		margin-bottom: 1em;
	}

	.group-list {
		.word-group {
			border: 1px solid var(--text-color);
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5em;
			text-align: left;
			padding: 0.25em;
		}
	}
}

.pop-up-message {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate((-50%, -50%));
	border-radius: 5px;
	padding: 0.5em;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 10;
}
.message-info {
	background-color: var(--msg-info-bg);
	color: var(--msg-info-color);
}
.message-error {
	background-color: var(--msg-error-bg);
	color: var(--msg-error-color);
}
.message-warning {
	background-color: var(--msg-warning-bg);
	color: var(--msg-warning-color);
}
