:root {
	--white: #eee;
	--lt-gray: #bbb;
	--dk-gray: #333;
	--black: #000000;
	--lt-blue: #0d6efd;
	--blue: #141b90;
	--green: #00ff77;
	--brown-1: #663c51;
	--brown-2: #9d5f51;
	--yellow: #e1a551;
	--dd-purple: #ff00ff;
}

body {
	background-color: #222;
	color: #ddd;
	font-family: 'Courier New', Courier, monospace;
}

#root {
	width: min(100%, 800px);
	height: 100%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	background-color: #222;
}

.nav-link {
	color: #ddd;
	font-weight: bold;
}

.input-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: start;
	margin-bottom: 1.25em;
	.input-label {
		font-weight: bold;
	}
	input {
		height: 1.5em;
		font-size: 1.2em;
		width: 100%;
	}

	#join-code {
		text-transform: uppercase;
	}
}
